@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo,
h1,
h2,
h3,
h4 {
  font-family: "Rancho", cursive;
  letter-spacing: 1px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
/* *{
  border: 2px solid rebeccapurple;
} */

.custom {
  width: calc(100% - 300px);
}
@media (0px < width < 767px) {
  .custom {
    width: 100%;
  }
}
@media (750px < width < 1024px) {
  .custom {
    width: 100%;
  }
}
.custom-p{
  padding: 50px;
}
.customCampaign{
  width: calc(100% -30px);
  background: #000;
}

.customNav {
  text-shadow: 0, 0, 0, 20;
  text-shadow: 0, 0, 20, 40;
  text-shadow: 0, 20, 40, 60;
  text-shadow: 20, 40, 60, 80;
}
.custom-z {
  z-index: 9999999;
}
*{
  border: 1px solid black;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 5s ease infinite;
}
